<nav class="navbar">
    <div class="logo"><a href="/">MyInventory</a></div>
    <div class="nav-links">
        <a href="/animes" class="nav-item">animes</a>
        <a href="/genres" class="nav-item">genres</a>
    </div>
</nav>