<nav class="navbar">
    <div class="logo"><a href="/">Aniventory</a></div>
    <div class="nav-links">
        <a href="/animes" class="nav-item">animes</a>
        <a href="/genres" class="nav-item">genres</a>
        <a href="/add" class="nav-item">add anime</a>
        <a href="genres/add" class="nav-item">add genres</a>
    </div>
</nav>