<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add-genres</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    <%- include('./partials/navBar') %>
    <h1>
        <%= title %>
    </h1>

    <form action="/genres/add" method="post">
        <label for="genre_name">genre name :</label>
        <input type="text" name="genreName" placeholder="enter genre name">
        <button type="submit">add genres</button>
    </form>

    <!-- error message showing -->
     <div class="error-messages">
            <% if (err && err.length> 0) { %>
                <ul>
                    <% err.forEach(e=> { %>
                        <li style="color:red">
                            <%= e.msg %>
                        </li>
                    <% }) %>
                </ul>
            <% } %>
    </div>

</body>
</html>