<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/genre.css">

</head>
<body>
    <%- include('./partials/navBar')%>
  

    <form action="genres/search" method="get">
            <input type="text" name="search" placeholder="search by genres">
            <button type="submit">search</button>
    </form>

    <h1 class="white">all genres</h1>
    <div class="container">

        <% results.forEach((g)=>{%>
            <div class="genre-card">
                <h2 class="genre" ><%= g.genre_name %></h2>
                <div class="btns">
                    <a href="/genres/update/<%=g.id%>">edit</a>
                    <a href="/genres/delete/<%=g.id%>">delete</a>
                </div>
            </div>    
            <%})%>
    </div>
</body>
</html>