<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Ainventory</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="index-body">
    <%- include('./partials/navBar')%>
    <h1 class="line">welcome to Aniventory</h1>
</body>
</html>