*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    background-color: black;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 3rem;
    text-transform: capitalize;
    margin: auto;
}

.card{
    width: 20%;
    min-width: 300px;
    background: linear-gradient(rgb(96, 56, 190),rgb(52, 222, 52),rgb(26, 231, 235));
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 2.5rem;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding: 4rem 3rem;
}

.card > a {
    width: 6rem;
    text-align: center;
}

.card > .btns > a:hover{
   background:linear-gradient(rgb(20, 214, 20),rgb(41, 167, 217));
    transition: 0.5s ease-in;
}
.name{
    text-transform: none;
}
