body{
    background-color: black;
}

.white{
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    margin: 2rem 0rem;
}

.container{
    width: 80%;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-wrap: wrap;
    gap: 3rem;
}

.genre{
    text-transform: none;
}

.genre-card{
    width: 20%;
    min-width:250px;
    background: linear-gradient(rgb(53, 53, 206),rgb(52, 222, 52),rgb(26, 231, 235));
    border-radius: 2rem;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

input{
    color: black;
    background-color: white;
    border-radius: 2rem;
    border: 0.2px solid orange;
    padding: 15px 15px;
    font-size: 18px;
    width: 20%;
    min-width: 200px;
}

form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

form > button {
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    font-size: 18px;
    font-weight: 650;
    text-transform: capitalize;
}

.btns > a:hover{
   background:linear-gradient(rgb(20, 214, 20),rgb(41, 167, 217));
    transition: 0.5s ease-in;
}

form > button:hover{
     background:linear-gradient(rgb(20, 214, 20),rgb(41, 167, 217));
    transition: 0.5s ease-in;
    cursor: pointer;
}