*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.index-body{
    background-image: url("/images/addFrom.jpg");
    background-size: cover;
    width: 100vw;
    overflow-x: hidden;
    background-repeat: no-repeat;
}

a{
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    padding: 0.3rem 0.8rem;
    background-color: white;
    border-radius: 1rem;
}

.logo a{
    font-size: 45px;
    font-family:fantasy;
    background:linear-gradient(rgb(20, 214, 20),rgb(41, 167, 217));
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1rem;
}

.nav-links{
    display: flex;
    gap: 2rem;
}

.line{
    color: white;
    padding: 1rem 2rem;
    border-radius: 2rem;
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 25%;
    font-family: cursive;
    text-align: center;
    text-transform: capitalize;
    backdrop-filter: blur(20px);
}

.nav-links > a:hover{
    background:linear-gradient(rgb(20, 214, 20),rgb(41, 167, 217));
    transition: 0.5s ease-in;
}

@media (max-width: 600px) {

    .navbar {
        flex-direction: column;
        gap: 1rem;
    }

    .logo a {
        font-size: 32px;
        margin-bottom: 3rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    a {
        font-size: 16px;
        padding: 0.4rem 1rem;

    }

    .search-con{
        width: 70%;
        min-width: 300px;
        margin: 2rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .anime-card{
        background:linear-gradient(rgb(20, 214, 20),rgb(41, 167, 217));
        font-weight: 600;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        flex-direction: column;
        height: 200px;
    }

    .search-body{
        background-color: black;
    }    

    .line {
        width: 70vw;
        left: 5%;
        top: 45%;
        padding: 1rem;
        font-size: 14px;
        display: none;
    }

    .index-body {
        background-position: center;
        height: 100vh;
        background:linear-gradient(black,rgb(50, 141, 50));
        background-size: cover;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
